.paginationContainer{
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  padding-bottom: 10px;
}


.paginationContainer button{
  outline: none;
  background-color: #1590a4;
  border: none;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.paginationContainer button:hover{
  background-color: #1ca7bd;
}

.paginationContainer button:disabled{
  background-color: gray;
}

@media (max-width: 260px){
  .paginationContainer button:nth-child(2), .paginationContainer button:nth-child(3), .paginationContainer button:nth-child(4){
    display: none;
  }
}
