.cardContainer, .cardImage, .movieDetails{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
}

.movieDetails p, .starsGenre{
  align-self: center;
}

.cardContainer{
  border: 1px solid gray;
  color: var(--fonts-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.cardContainer:hover{
   border: 2px solid gray;
}

.cardImage{
  color: white;
  position: relative;
}

.cardImage .icon{
  align-self: flex-end;
  margin: 2% 7% 0 0;
  position: absolute;
  cursor: pointer;
}

.cardImage .icon:hover{
  color: pink;
}

.cardImage img{
  width: 100%;
}

.movieTitle{
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
}


.starsGenre{
  display: flex;
  gap: 7px;
}



.addButton{
  background-color: var(--secondary-color);
  border: none;
  width: 100%;
  border-radius: 1px;
  height: 2.5em;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.addButton:hover{
  background-color: var(--button-hover-color);
  transition-duration: 0.3s;
}

.favorite{
  color: red
}
