.header{
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 5px 3% 5px 3%;
  transition-duration: 2s;
}

.header a:visited{
  color: var(--primary-color);
}

.searchInput{
  outline: none;
  height: 35px;
  width: 100%;
  font-size: 1.2em;
  border: none;
  padding-left: 10px;
}


.inputAndSearchButton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0.5;
  background-color: white;
  border: 2px solid #97bec3;
  border-radius: 15px;
  overflow: hidden;
}

.FlexDistant{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0.15;
}

.icons{
  cursor: pointer;
  transition-duration: 0.5s;
  color: white;
}

.icons:hover{
  color: var(--ternary-color);
}

.notificationBadge{
  cursor: pointer;
  font-size: 0.5px;
}




.userMenuContainer{
  transition-duration: 0.5s;
  z-index: 1;
}

.userMenuContainer:hover{
  color: var(--ternary-color);

}

@media (max-width: 700px){
  .FlexDistant{
    display: none;
  }

  .inputAndSearchButton{
    flex: 0.7;
  }
}
