.loginPage{
  width: 100vw;
  height: calc(100vh - 79px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fonts-color);
}

.loginContainer{
  background-color: var(--secondary-color);
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-bottom: 30px;
  border: 1px solid var(--ternary-color);
  border-radius: 5px;
  min-width: 300px;
}

.loginForm{
  display: flex;
  flex-direction: column;
}

.loginForm > label{
  align-self: flex-start;
  margin: 3px 5%;
}

.loginForm > input, .loginForm > button, .keepLoggedIn, .register{
  margin: 3px 5%;
  border-radius: 5px;
  outline: none;
  border: none;
}

.loginForm > input{
  font-size: 1.1rem;
  height: 1.7rem;
  padding-left: 5px;
}

.loginForm > button{
  font-size: 1.1rem;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--fonts-color);
  padding: 5px 0 5px 0px;
  border: 1px solid var(--fonts-color);
}

.loginForm > button:hover{
  background-color: var(--button-hover-color);

}

.loginTitle{
  align-self: center;
  width: 80%;
  border-bottom: 1px solid var(--fonts-color);
  padding-bottom: 8px;
}

.keepLoggedIn{
  align-self: flex-start;
}


.register{
  margin-top: 30px;
  align-self: flex-end;
}

.register a, .register a:visited{
  background-color: var(--secondary-color);
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 3px;
  color: var(--ternary-color);
  font-weight: 700;
}

.register a:hover{
  color: #3a536b;
}
