.userMenuButton{
  color: white !important;
  text-transform: none !important;
}

.userMenuButton:hover{
  color: var(--ternary-color) !important;
}

.userMenu{
  background-color: var(--primary-color);
}

.userMenu > li:hover{
  background-color: var(--ternary-color);
}

.userMenu > li{
  padding: 0;
}

.userMenu > li > a{
  color: var(--fonts-color) !important;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 6px 8px;
}
